@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');
.displaynone {
    display: none !important;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body {
  cursor: none;
}
#mainCanvas {
  background-color: aqua;
}
.cursorOverlay {
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  background: transparent;
  z-index: 96942969;
}